<div>
    <img src="{{picture}}" alt="Profile Picture" style="height:60px; width:60px;">
    <b><a href="/profile/{{username}}">{{username}}</a></b> posted:
</div>
<div>
    {{post}}
    <br>
    <date>{{moment postDate format="dddd, DD MMMM YYYY h:mm a"}}</date>    
</div>
<div>
    {{#if @root.authenticated}}
        {{#if (or (eq username @root.username) ../admin)}}
            <br>
            <form action="/delete/{{_id}}" method="get">
                <button type="submit">Delete</button>
            </form>
        {{/if}}
    {{/if}}


    <form action="/like/{{_id}}" method="get">
        <input type="submit" value="Like"/>
    </form>
    <a>{{liked.length}}</a>
</div>