<div>
    <b><a href="/profile/{{username}}">{{username}}</a></b> posted:
</div>
<div>
    {{post}}
    <br>
    <date>{{moment postDate format="dddd, DD MMMM YYYY h:mm a"}}</date>    
</div>
<div>
    <a>{{liked.length}}</a>
</div>