<li class="list-group-item">
    <div class="container">
        <b><a href="/profile/{{username}}">{{username}}</a></b>
        - <date>{{moment postDate format="DD MMMM YYYY"}}</date>
    </div>
    <div class="container">
        {{post}} 
    </div>
    <div class="container">
        {{!-- Glyph here --}}
        <a>{{liked.length}}</a>
    </div>
</li>