<html>
    <head>
        <meta charset="UTF-8">
        <title>A Twitter Clone!</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
        <script>
            function closeAlert(closeButton) {
                const alert = closeButton.parentElement; // Get the parent alert div
                alert.style.display = 'none'; // Hide the alert
            }
        </script>
    </head>
    <body>
        <div id="isAuthenticated" data-authenticated="{{isAuthenticated}}"></div>

        {{#if showLines}}
            <div class="page-container">
        {{/if}}
                <header>
                    <nav>
                        <div class="logo">
                            <a href="/"> <!-- Add this anchor element -->
                                <h3>ATC</h3>
                            </a>
                        </div>
                        <form class="search-form" action="/search" method="post" enctype="multipart/form-data">
                            <input type="text" id="search-input" name="q" placeholder="Search..." class="rounded-input">
                        </form>
                        <ul>
                            {{#if isAuthenticated}}
                                <li><a href="/">Explore</a></li>
                                <li><a href="#">Notifications</a></li>
                                <li><a href="/{{username}}">Profile</a></li>
                                <li><a href="/signout">Sign Out</a></li>
                            {{else}}
                                <li><a href="/login">Log In</a></li>
                                <li><a href="/register">Sign Up</a></li>
                            {{/if}}
                        </ul>
                    </nav>
                </header>

                <div class="messages">
                {{#if messages.error}}
                    <div class="alert alert-error">
                        <span class="alert-text">
                            {{#each messages.error}}
                                {{this}}
                            {{/each}}
                        </span>
                        <span class="close-button" onclick="closeAlert(this)">&times;</span>
                    </div>
                {{/if}}

                {{#if messages.success}}
                    <div class="alert alert-success">
                        <span class="alert-text">
                            {{#each messages.success}}
                                {{this}}
                            {{/each}}
                        </span>
                        <span class="close-button" onclick="closeAlert(this)">&times;</span>
                    </div>
                {{/if}}

                {{#if messages.warning}}
                    <div class="alert alert-warning">
                        <span class="alert-text">
                            {{#each messages.warning}}
                                {{this}}
                            {{/each}}
                        </span>
                        <span class="close-button" onclick="closeAlert(this)">&times;</span>
                    </div>
                {{/if}}
                </div>

                <main>
                    {{{body}}}
                </main>

                <footer>
                    <p>&copy; 2023 A Twitter Clone - Cam</p>
                </footer>

        {{#if showLines}}
            </div>
        {{/if}}
    </body>
</html>