<div class="profile-head">
    <span class="profile-image">
        <img src="{{profilePicture}}" alt="Profile Picture" style="height:75px; width:75px; border-radius: 50%;">
    </span>

    <span>
        {{#isEmpty profileName}}
        {{else}}
            <b>{{profileName}}</b>
        {{/isEmpty}}
    </span>

    <span class="profile-name">
        @{{profileUsername}}
    </span>

    {{#isEmpty profileDescription}}
    {{else}}
        <p>{{profileDescription}}</p>
    {{/isEmpty}}

    <form action="/editprofile" method="get">
        <button type="submit">Edit Profile</button>
    </form>
</div>

<div class="profile-body">
    {{#isEmpty posts}}
        <p>It's looking a little quiet here. Why not post?</p>
    {{else}}
        {{#each posts}}
            {{> largePost}}
        {{/each}}
    {{/isEmpty}}
</div>